<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kTitleText</key>
	<string>Change language</string>
	<key>kSetEnglish</key>
	<string>Set english</string>
	<key>kSetUkrainian</key>
	<string>Set ukrainian</string>
</dict>
</plist>
